<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DetailView cls deals with dynamic url sufixes n uess canonical url forms to display data of selected object</h1>
        <h1>Displaying Detail info of {{DOSI.name}} school is</h1>

        <h2>Name of the School is {{DOSI.name}} </h2>
        <h2>Principal of the School is {{DOSI.head}} </h2>
        <h2>Location of the School is {{DOSI.loc}} </h2>
<hr>
        <h1>Students of {{DOSI.name}} are </h1>
        <hr>
        {% for std in DOSI.student.all %}
            <h2>Name of student is {{std.Sname}}</h2>
            <h2>Age of student is {{std.age}}</h2>
            <hr><br>
        {% endfor %}

        <a href="{% url 'SchoolUpdate' pk=DOSI.pk %}" class="btn btn-success">Update School</a>
    </center>
</body>
</html>